{% extends "admin-layout.html" %}

{% block title %} Admin &mdash; ავტორიზაცია {% endblock %}

{% block body %}
	<h1>გთხოოვთ გაიაროთ ავტორიზაცია</h1>
	{% if alert %}
		<p class="alert"> {{ alert }} </p>
	{% endif %}
	<form action="{{ url_for('admin_login') }}" method="POST" autocomplete="off">
		{{ login_form.hidden_tag() }}
		{{ login_form.email.label }}
		{{ login_form.email() }}
		{{ login_form.password.label }}
		{{ login_form.password() }}
		{{ login_form.submit() }}
	</form>
{% endblock %}